<div class="container mt-4">
  <h1><%= @group.name %></h1>

  <div class="card mb-3">
    <div class="card-body">
      <p class="mb-1">
        <strong><%= t('.photo_limit') %>:</strong>
        <%= @group.photo_limit || t('.unlimited') %>
      </p>
      <p class="mb-0">
        <strong><%= t('.owner') %>:</strong>
        <%= @group.owner.email %>
      </p>
    </div>
  </div>

  <h2 class="h5"><%= t('.members') %></h2>
  <ul class="list-group mb-3">
    <% @group.members.each do |member| %>
      <li class="list-group-item"><%= member.email %></li>
    <% end %>
  </ul>

  <%= link_to t('.take_photo'), new_group_photo_path(@group), class: "btn btn-primary me-2" %>
  <%= link_to t('.view_photos'), group_photos_path(@group), class: "btn btn-outline-primary me-2" %>
  <%= link_to t('.back'), groups_path, class: "btn btn-outline-secondary" %>
</div>
