<nav class="tab-bar">
  <%= link_to groups_path, class: "tab-item #{'active' if controller_name == 'groups'}" do %>
    <i class="bi bi-people"></i>
    <span><%= t('shared.tab_bar.groups') %></span>
  <% end %>

  <%= link_to qr_scanner_path, class: "tab-item #{'active' if controller_name == 'qr_scanner'}" do %>
    <i class="bi bi-qr-code-scan"></i>
    <span><%= t('shared.tab_bar.scan') %></span>
  <% end %>

  <%= link_to root_path, class: "tab-item #{'active' if controller_name == 'home'}" do %>
    <i class="bi bi-house"></i>
    <span><%= t('shared.tab_bar.home') %></span>
  <% end %>
</nav>
